/System Volume Information
/bcm2708-rpi-cm.dtb
/bcm2709-rpi-2-b.dtb
/bcm2710-rpi-3-b.dtb
/bcm2710-rpi-3-b-plus.dtb
/bcm2710-rpi-cm3.dtb
/bootcode.bin
/cmdline.txt
/config.txt
/default.png
/fixup.dat
/fixup_cd.dat
/fixup_db.dat
/fixup_x.dat
/initrd
/kernel.img
/keybow
/LICENCE.broadcom
/start.elf
/start_cd.elf
/start_db.elf
/start_x.elf
/overlays
/patterns
/snippets
/bcm2708-rpi-0-w.dtb
/bcm2708-rpi-b.dtb
/bcm2708-rpi-b-plus.dtb
/.vs
/layouts